.bg{
	background: #fff;
}
.mui-bar{
	background: #ff6867;
	color: #fff;
}
.mui-bar.mui-bar2{
	background: #fff;
}
.mui-title{
	color: #fff;
	font-weight: bolder;
	font-size: 22px;
}
.mui-content{
	background: #fff;
}
a.mui-icon{
	color: #fff;
}
a.active.mui-icon{
	color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color:#ff6867 ;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #FF6867;
	border-bottom: 2px solid #FF6867;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background-color: #FF6867;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border-top: 1px solid #FF6867;
}
.topic{
	text-align: center;
	margin: 15px 0px 0px;
}
.topic_1 a{
	display:flex;
	flex-direction: column;
}
.mui-slider .mui-slider-group .mui-slider-item .topic_1 img{
	width: 30px;
	height: 30px;
	position: relative;
	left: 50%;
	margin-left: -15px;
}
.mui-slider .mui-slider-group .mui-slider-item .topic_1 img+p{
	color: #000;
}
.browse{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #eee;
	padding-top:10px ;
}
.browse_left{
	padding: 5px 15px;
}
.browse_left p{
	width: 28px;
}
.browse_center{
	width: 70%;
	height: 50px;
	overflow: hidden;
	padding: 0px 10px;
	border-left: 1px solid #eee;
}
.browse_center p{
	color: #313131;
}
.browse_center span{
	color: #43c86f;
}
.browse_right{
	float: right;
}

.blank_space{
	height: 10px;
	background: #eee;
}

/*popular*/
.popular,.cookbook{
	padding: 0px 10px;
}
/*cookbook*/
.cookbook_1{
	display: flex;
	flex-direction: column;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.cookbook_1{
	height: auto;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.cookbook_1 p{
	font-size: 12px;
} 