.bg{
	background: #fff;
}
.logo{
	margin-top: 3rem;
}
.logo-icon{
	color: #53aef4;
}
.logo-icon1{
	color: #45c69d;
}
.input-field{
	margin: 3rem auto 20px;
	width: 80%;
}
.login-btn{
	margin-top: 20px;
	padding:5px 0px;
}
.login-forget{
	color: #ff6867;
}
.login-forget:active{
	color: #ff6867;
}
.login-footer img{
	width: 40px;
	height: 40px;
	margin-left: calc((100% - 40px)/2);
}
.footer{
	position: fixed;
	bottom: 17px;
	width: 100%;
}
/*文字局中*/
.personal-mybuluo-head {  
    height: 14px;  
    position: relative;  
    bottom: 15px;
}  
.personal-mybuluo-wording {  
    position: absolute;  
    top: 0;  
    z-index: 2;  
    left: 50%;  
    background-color: #fff;  
    color: #777;  
    text-align: center;  
    -webkit-transform: translate(-50%,0);  
    transform: translate(-50%,0);  
    padding: 0 10px;  
}  
.personal-border {  
    position: absolute;  
    top: -7px;  
    left: 0;  
    width: 100%;  
    height: 14px;  
    z-index: 1;  
}  
.jmu-border-1px {  
    position: relative;  
}  
.jmu-border-1px.border-bottom:after {  
    border-bottom: 1px solid #dedfe0;  
}  
@media only screen and (-webkit-min-device-pixel-ratio: 2)  
.jmu-border-1px:after {  
    right: -100%;  
    bottom: -100%;  
    -webkit-transform: scale(0.5);  
}  
.jmu-border-1px:after {  
    display: block;  
    content: '';  
    position: absolute;  
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    -webkit-transform-origin: 0 0;  
    -webkit-transform: scale(1);  
    pointer-events: none;  
}  
.mui-input-row label{
	width: 17%;
}  
.mui-input-row label~input{
	float: inherit;
}
.mui-input-row label~input.register-mobile{
	width: 50%;
}
.mui-input-row.mobile-send-row .mui-input-clear~.mui-icon-clear{
	right: 30%;
}
.mui-input-row .mui-btn.register-mobile-send{
	width: 30%;
	float: inherit;
	padding: 10px;
}
.mui-input-row label.register-checkbox{
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	padding-left: 50px;
}
.mui-input-row label.register-checkbox span{
	color: #fe6867;
}
.mui-checkbox.mui-left input[type=checkbox]{
	left: 12px;
}
