header a:nth-child(3) span.mui-icon.mui-pull-right img {
	margin-left: 15px;
}
.article>img{
	width: 60px;
	height: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;	
	border-radius: 50%;
	margin-top: 10px;
}
.author{
	color: #232323;
}
