.mui-ellipsis-2{
	-webkit-line-clamp: 4;
}
p.purple{
	color: #8984f8;
}
.space_title{
	background: #eee;
	padding: 5px 0px;
}
.article_list span{
	position: absolute;
	right: 30px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	text-overflow: inherit;
	overflow: auto;
	height: auto;
	text-align: justify;
}
.mui-table-view{
	list-style: decimal;
}
.article_tips_content p{
	color: #000;;
}
.new_commend{
	margin-top: 20px;
}
.tips_icon{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.commend_left{
	display: flex;
	flex-direction: column;
}
.commend_author{
	color: #000;
}
.commend_btn{
	width: 80%;
	margin-left: 10%;
	padding: 10px 0px;
	margin-top: 10px;
}
.other_likes_list .mui-table-view img.mui-media-object.mui-pull-left{
	max-width: 100px;
	height: 100px;
}
.more{
	margin-top: 10px;
}
.more button.mui-btn{
	width: 110px;
	height: 30px;
	margin-bottom: 10px;
}
.write_commend .mui-input-row{
	width: 50%;
	float: left;
	background: #eee;
	border-radius: 5px;
	margin:0px 10px;
}
.write_commend .mui-input-row label{
	width: 15%;
	padding: 11px 15px 5px 5px;
}
.write_commend .mui-input-row input{
	width: 85%;
}
.write_commend .write_others{
	width: calc(50% - 20px);
	float: left;
}
.write_commend .write_others .write_others_item{
	display: flex;
	flex-direction: column;
}
.write_commend .write_others .write_others_item img{
	width: 25px;
	height: 25px;
}
.write_commend .write_others .write_others_item span{
	font-size: 10px;
	color: #666;
	text-align: center;
}
.write_commend .write_others .write_others_item.active span{
	color: #fd7170;
	text-align: center;
}
