.mui-search:before {
	top: 60%;
}

.mui-input-row.mui-search .mui-icon-clear {
	top: 0px;
	right: 5px;
}

input {
	font-weight: normal;
}

input[type='search'] {
	background-color: #fff;
	color: #999;
}

.mui-search .mui-placeholder {
	line-height: 50px;
	font-weight: normal;
}
.mui-bar .mui-title{
	left: -5px;
	right: 0px;
}
.mui-bar .mui-btn.search_menu{
	width: 40px;
	top: 8px;
	font-size: 12px;
	padding: 8px 0px;
	margin-right: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: none;
	border-right: 1px solid #eee;
	line-height: 1.1;
}
div.mui-title.mui-input-row.mui-search.mui-clearfix:before {
	position: absolute;
	top: 12px;
	color: #999;
}

.mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear {
	position: absolute;
	top: 14px;
}
.search_details .mui-icon>img{
	position: relative;
	top: 3px;
}
.search_hot{
	width: 110px;
	height: 30px;
	margin-bottom: 10px;
}
.history_title .mui-icon>img{
	position: relative;
	top: 3px;
}
.search_history span{
	position: absolute;
	right: 30px;
}
